<body>
    <div class="header"></div>
            <div class="title">
                <h1>The Gossip Project</h1>
                <div>
                    <h6>><a href="/">Accueil</h6></a>
                </div>
            </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Who are we ?</a>
            </div>
        </nav>
    </div>

    <div class="main">
        <br>
        <br>
        <br>
        <br>
        <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
        <img src='app/assets/images/Terminator.png' alt='icon' />
      <div class="card-body">
        <h5 class="card-title">Samuel KHALIFA<br>
        _____aka. T-800</h5>
        <p class="card-text">Description.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">THP Student (Winter 2022)</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <img src='app/assets/images/0SS_117.png' alt='icon' />
      <div class="card-body">
        <h5 class="card-title">Lois KOUNINEF<br>
            <em>_____aka. OSS_117<em></h5>
        <p class="card-text">Description.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">THP Student (Winter 2022)</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
        <img src='app/assets/images/Lostark.png' alt='icon' />
      <div class="card-body">
        <h5 class="card-title">Enzo BONNET<br>
            <em>_____aka. Lost_ARK<em></h5>
        <p class="card-text">Description.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">THP Student (Winter 2022)</small>
      </div>
    </div>
  </div>
</div>

    </div>
</body>