<body>
    <div class="header"></div>
        <div class="title">
            <h1>The Gossip Project</h1>
            <div>
                <h6>><a href="/">Accueil</h6></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">City : <%= @city.name %></a>
            </div>
        </nav>
    </div>



    <div class="main">
        <p></p>
        <p><strong>Name</strong></p>
            <%= @city.name %>
        <p></p>
        <p><strong>Zip code</strong></p>
            <%= @city.name %>
        <p></p>
    </div>
</body>